body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Al menos el 100% de la altura de la ventana */
}

main {
  flex: 1; /* Ocupa el espacio restante */
}

footer {
  margin-top: auto; /* Coloca el pie de página al final */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.margin-topCompany {
  margin-top: 2.9rem;
}

.margin-topPasion {
  margin-top: 0.1rem;
}

.margin-rightRedes {
  margin-right: 25rem;
}

.padding-leftIcon {
  padding-left: 0.3rem;
}

.color-gris {
  color: #bdb0b0;
}

.color-grisGit {
  color: #8a7878;
}